services:
    nginx:
        image: nginx:latest
        container_name: nginx
        network_mode: host
        restart: always
        environment:
            - TS_IP=${TS_IP}
            - TS_FQDN=${TS_FQDN}
        volumes:
            - ~/homelab/config/nginx/nginx.conf.template:/etc/nginx/templates/nginx.conf.template:ro
            - ~/homelab/config/certs:/etc/certs:ro
        command: /bin/sh -c "envsubst '$$TS_IP $$TS_FQDN' < /etc/nginx/templates/nginx.conf.template > /etc/nginx/nginx.conf && nginx -g 'daemon off;'"
        cap_add:
            - NET_BIND_SERVICE
        depends_on:
            - glances
            - dozzle

    glances:
        image: nicolargo/glances:latest
        container_name: glances
        network_mode: host
        restart: unless-stopped
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock:ro
            - /etc/os-release:/etc/os-release:ro
        environment:
            - GLANCES_OPT=-w
        pid: host

    dozzle:
        image: amir20/dozzle:latest
        container_name: dozzle
        network_mode: host
        restart: always
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock:ro
        environment:
            - DOZZLE_BASE=/monitoring
            - DOZZLE_ADDR=:4500